/*general*/
div {
    text-align: center;
}
div.column {
    float: left;
    width: 49%;
    padding: 0.5%;
}
div.left {
    text-align: left;
}
div.right {
    text-align: right;
}
#success {
    color: red;
}
nav li {
    display: inline;
    white-space: nowrap;
    margin-right: 1em;
}
nav li a {
    text-decoration: none;
    color: black;
}

/*board and preview tables*/
table {
    border-collapse: collapse;
    display: inline-block;
}
td, th{
    background-color: lightgrey;
    border-width: 1px;
    border-style: solid;
}
#board td {
    width: 40px;
    height: 40px;
    border-color: white;
    padding: 0px;
    text-align: center;
    border-radius: 10px;
}
table.preview{
    border-width: 1px;
    border-style: solid;
}
table.preview td{
    width: 20px;
    height: 20px;
    border-width: 0px;
    padding: 0px;
    color: transparent;
    user-select: none;
    font-size: 0px;
}

/*squares in lines*/
#board td.line {
    border-radius: 20px;
}
#board td.actual, #board td.castle {
    border-radius: 10px;
}
#board td.top {
    border-top-color: transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#board td.bottom {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#board td.left {
    border-left-color: transparent;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#board td.right {
    border-right-color: transparent;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*line colors*/
td.c1   {background-color: indianred;}
td.c2   {background-color: lightseagreen;}
td.c3   {background-color: goldenrod;}
td.c4   {background-color: blueviolet;      color: white;}
td.c5   {background-color: lightgreen;}
td.c6   {background-color: crimson;         color: white;}
td.c7   {background-color: darkmagenta;     color: white;}
td.c8   {background-color: olivedrab;       color: white;}
td.c9   {background-color: gray;            color: white;}
td.c0   {background-color: maroon;          color: white;}
