div {
    text-align: center;
}
table {
    border-collapse: collapse;
    display: inline-block;
}

#success {
    color: red;
}

#board td {
    width: 40px;
    height: 40px;
    border-color: black;
    border-width: 2px;
    border-style: dotted;
    padding: 0px;
    text-align: center;
}

#board td.line {
    border-style: solid;
}

#board td.top {
    border-top-style: dotted;
}
#board td.bottom {
    border-bottom-style: dotted;
}
#board td.left {
    border-left-style: dotted;
}
#board td.right {
    border-right-style: dotted;
}

td.c1   {background-color: indianred;}
td.c2   {background-color: lightseagreen;}
td.c3   {background-color: goldenrod;}
td.c4   {background-color: blueviolet; color: white;}
td.c5   {background-color: lawngreen;}
td.c6   {background-color: crimson;}
td.c7   {background-color: darkmagenta; color: white;}
td.c8   {background-color: darkolivegreen; color: white;}
td.c9   {background-color: gray; color: white;}
td.c10  {background-color: maroon; color: white;}
td.c11  {background-color: navy; color: white;}
