/*general alignment*/
div {
    text-align: center;
}
div.column {
    float: left;
    width: 49%;
    padding: 0.5%;
}
div.left {
    text-align: left;
}
div.right {
    text-align: right;
}
#success {
    color: red;
}

/*board and preview tables*/
table {
    border-collapse: collapse;
    display: inline-block;
}
#board td {
    width: 40px;
    height: 40px;
    border-color: black;
    border-width: 2px;
    border-style: dotted;
    padding: 0px;
    text-align: center;
}
table.preview{
    border-width: 1px;
    border-style: solid;
}
table.preview td{
    width: 20px;
    height: 20px;
    border-width: 0px;
    padding: 0px;
    color: transparent;
    user-select: none;
    font-size: 0px;
}

/*lines separated by solid border*/
#board td.line {
    border-style: solid;
}
#board td.top {
    border-top-style: dotted;
}
#board td.bottom {
    border-bottom-style: dotted;
}
#board td.left {
    border-left-style: dotted;
}
#board td.right {
    border-right-style: dotted;
}

/*line colors*/
td.c1   {background-color: indianred;}
td.c2   {background-color: lightseagreen;}
td.c3   {background-color: goldenrod;}
td.c4   {background-color: blueviolet;      color: white;}
td.c5   {background-color: lawngreen;}
td.c6   {background-color: crimson;}
td.c7   {background-color: darkmagenta;     color: white;}
td.c8   {background-color: darkolivegreen;  color: white;}
td.c9   {background-color: gray;            color: white;}
td.c10  {background-color: maroon;          color: white;}
td.c11  {background-color: navy;            color: white;}
